@import '~static/css/common.less';

.header-container {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
}
.header-content {
  max-width: @contentWidth;
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  .header-logo {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 14px;
    a {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .logo {
      width: 35px;
      display: flex;
      margin-right: 10px;
    }
  }
  .header-navbar {
    height: 100%;
    display: flex;
    &-item {
      color: #333;
      font-size: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      &:hover {
        color: @hoverColor;
      }
      &.active {
        color: @hoverColor;
      }
    }
    .userInfo-container {
      height: 100%;
      display: flex;
      align-items: center;
      .userInfo-content {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .name {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width:980px) {
	.header-content {
    width: 96%;
  }
}