// 引入全局变量
@import '~static/css/common.less';

.editor-container {
  padding-top: 20px;
  overflow: hidden;
  .editor-title {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    height: 40px;
    justify-content: center;
    .input {
      width: 60%;
      height: 100%;
      margin-right: 20px;
    }
    .button {
      height: 100%;
    }
  }
}